{% extends 'base.html' %}

{% block title %}SKILLS{% endblock %}

{% block body %}
     <section id="contact" class="contact">
         <div class="container">
             <div class="section-title">
                  <h2>Contact</h2>
                  <p>Currently looking for Junior Software Engineering or Junior Backend WebDeveloper or Junior Python Developer position.Also, Iam available for freelancing
                      Whether you have any open opportunity, my inbox is always open! </p>
             </div>
            <button onclick="window.location.href='mailto:omksbhosale18@gmail.com';" title="Mail to: omksbhosale18@gmail.com" class="btn btn-info btn-lg">
                <span style="color:#FFFFFF">Get in touch</span>
            </button>
         </div>
     </section>
{% endblock %}
